[submodule "Detours"]
	path = Detours
	url = https://github.com/microsoft/Detours.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "GSL"]
	path = GSL
	url = https://github.com/microsoft/GSL.git
