[submodule "Detours"]
	path = Detours
	url = https://github.com/microsoft/Detours.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "GSL"]
	path = GSL
	url = https://github.com/microsoft/GSL.git
[submodule "sol2"]
	path = sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "SLikeNet"]
	path = SLikeNet
	url = https://github.com/VladimirMakeev/SLikeNet.git
	branch = disciples2-lobby
[submodule "D2RSG"]
	path = D2RSG
	url = https://github.com/VladimirMakeev/D2RSG.git
	branch = master
